# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in /Users/tiagomartins/anaconda3/lib/python3.11/site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in /Users/tiagomartins/anaconda3/lib/python3.11/site-packages (from scipy) (1.24.3)

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv("../data/salaries.csv")

/var/folders/dx/5q4b9pnn4zl_g4hjsbv88qx00000gn/T/ipykernel_71240/3685830626.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv("../data/salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

In [5]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [6]:
# Your code here:

In [7]:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [8]:
# Your code here

In [9]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [10]:
# Your code here

In [11]:
salaries.drop(columns=['Notes'], axis=1, inplace=True)
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [12]:
# Your code here

In [13]:
salaries['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [14]:
# Your code here

In [15]:
# Your code here

In [16]:
salaries.dropna(subset=['Status'], inplace=True)
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [17]:
# Your code here

In [18]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [19]:
# Your code here

In [20]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [21]:
# Your code here

In [22]:
salaries = salaries.astype({'BasePay': float, 'OvertimePay': float, 'OtherPay': float, 'Benefits': float})
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [23]:
# Your code here

In [24]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [25]:
# Your code here

In [26]:
salaries['TotalPayBenefits'] == salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [27]:
# Your code here:

In [28]:
sum_columns_true = salaries['TotalPayBenefits'] == salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']
percentage_counts = sum_columns_true.value_counts(normalize=True) * 100
percentage_counts

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [29]:
# Your code here:

In [30]:
num_employees_by_department = salaries.groupby("JobTitle").agg(Employees=("Id", "count"))
num_employees_by_department

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
# Your code here: (compute the "Hourly_Wage")

In [32]:
salaries["Hourly_Wage"] = salaries["TotalPayBenefits"]/(50*40)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [33]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [34]:
salaries_ft_employees = salaries[salaries["Status"]== "FT"]
mean_hourly_wage_ft = round(salaries_ft_employees["Hourly_Wage"].mean(),12)
mean_hourly_wage_ft

69.264206407271

In [35]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [36]:
sample_data = np.array(salaries_ft_employees["Hourly_Wage"])
population_mean = 75
sample_mean = np.mean(sample_data)
sample_std = np.std(sample_data, ddof=1)
sample_size = len(sample_data)

t_statistic = (sample_mean - population_mean) / (sample_std / np.sqrt(sample_size))

t_statistic

-35.80631941460526

In [37]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [38]:
import scipy

alpha = 0.05

degrees_of_freedom = len(salaries_ft_employees["Hourly_Wage"]) - 1

lower_critical_value, upper_critical_value = scipy.stats.t.ppf((alpha/2), df=degrees_of_freedom), scipy.stats.t.ppf(1-(alpha/2), df=degrees_of_freedom)

lower_critical_value, upper_critical_value

(-1.9600702128845597, 1.9600702128845593)

In [39]:
if lower_critical_value < t_statistic and upper_critical_value > t_statistic:
    print("Null hypothesis accepted.")
else:
    print("Null hypothesis rejected.")

Null hypothesis rejected.

In [40]:
# Method 2: Use the p-value method.
# Your code here:

In [41]:
p_value = scipy.stats.t.cdf(t_statistic, df=degrees_of_freedom)

p_value

2.2589156169197237e-273

In [42]:
#for a two tailed test we have to use alpha divided by two:

if p_value < alpha/2 or p_value > 1 - alpha/2:
    print("Null hypothesis rejected.")
else:
    print("Null hypothesis accepted.")

Null hypothesis rejected.

In [43]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [44]:
from scipy.stats import ttest_1samp

t_statistic, p_value = ttest_1samp(salaries_ft_employees["Hourly_Wage"], 75, alternative="two-sided")
t_statistic, p_value

(-35.80631941460526, 4.517831233839447e-273)

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [45]:
police_salaries = salaries[salaries['JobTitle'].apply(lambda x: "Police" in x)]
display(police_salaries['JobTitle'].unique())
display(police_salaries.head())

array(['Chief of Police', 'Police Officer 3', 'Police Officer 2',
       'Police Officer', 'Sergeant, (Police Department)',
       'Inspector, (Police Department)', 'Institutional Police Sergeant',
       'Lieutenant (Police Department)', 'Institutional Police Officer',
       'Community Police Services Aide'], dtype=object)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
110617,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
110674,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
110712,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
110831,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500

In [46]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [47]:
sample_data = np.array(police_salaries['TotalPayBenefits'])
population_mean = 86000
sample_mean = np.mean(sample_data)
sample_std = np.std(sample_data, ddof=1)
sample_size = len(sample_data)

t_statistic = (sample_mean - population_mean) / (sample_std / np.sqrt(sample_size))

t_statistic

50.252984742109945

In [48]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [49]:
alpha = 0.05

degrees_of_freedom = len(sample_data - 1)

critical_value = scipy.stats.t.ppf(alpha, df=degrees_of_freedom)

critical_value

-1.6456555819760406

In [50]:
if t_statistic < critical_value:
    print("Null hypothesis rejected.")
else:
    print("Null hypothesis accepted.")

Null hypothesis accepted.

In [51]:
# Method 2: Use the p-value method.
# Your code here:

In [52]:
p_value = scipy.stats.t.cdf(t_statistic, df=degrees_of_freedom)

p_value

1.0

In [53]:
if p_value < alpha:
    print("Null hypothesis rejected.")
else:
    print("Null hypothesis accepted.")

Null hypothesis accepted.

In [54]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [55]:
t_statistic, p_value = ttest_1samp(sample_data, population_mean, alternative="less")
t_statistic, p_value

(50.252984742109945, 1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [56]:
# Your code here: (Get the department which has most employees)

In [57]:
dep_most_empployees = salaries.groupby("JobTitle").agg(Id=('Id', 'count')).reset_index().sort_values("Id", ascending=False).iloc[0, 0]
dep_most_empployees

'Transit Operator'

In [58]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [59]:
transit_operator_salaries = salaries[salaries['JobTitle'].apply(lambda x: "Transit Operator" in x)]
transit_operator_salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
113754,113755,Nancy Padilla,Transit Operator,70636.56,78492.00,6636.63,38481.57,155765.19,194246.76,2014,San Francisco,FT,97.123380
114068,114069,Louis E Galarce,Transit Operator,71278.32,73221.72,6785.53,38861.51,151285.57,190147.08,2014,San Francisco,FT,95.073540
114297,114298,Duane Allen,Transit Operator,70029.28,69941.99,8592.74,38733.41,148564.01,187297.42,2014,San Francisco,FT,93.648710
114911,114912,Jaime O Olivar,Transit Operator,68842.56,65726.67,8828.06,38206.75,143397.29,181604.04,2014,San Francisco,FT,90.802020
115422,115423,Freeman Chee,Transit Operator,69777.22,60584.96,8146.38,38480.23,138508.56,176988.79,2014,San Francisco,FT,88.494395

In [60]:
sample_data = np.array(transit_operator_salaries['Hourly_Wage'])
population_mean = 35
sample_mean = np.mean(sample_data)
sample_std = np.std(sample_data, ddof=1)
sample_size = len(sample_data)

t_statistic = (sample_mean - population_mean) / (sample_std / np.sqrt(sample_size))

t_statistic

19.064990324906383

In [61]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [62]:
alpha = 0.05

degrees_of_freedom = len(sample_data - 1)

critical_value = scipy.stats.t.ppf(1-alpha, df=degrees_of_freedom)

critical_value

1.6454685290091797

In [63]:
if t_statistic > critical_value:
    print("Null hypothesis rejected.")
else:
    print("Null hypothesis accepted.")

Null hypothesis rejected.

In [64]:
# Method 2: Use the p-value method.
# Your code here:

In [65]:
p_value = scipy.stats.t.cdf(t_statistic,df=degrees_of_freedom)

p_value

1.0

In [66]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [67]:
t_statistic, p_value = ttest_1samp(sample_data, population_mean, alternative="greater")
t_statistic, p_value

(19.064990324906386, 5.012771694203921e-76)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [68]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [69]:
sample_data_hourly_wage = np.array(salaries["Hourly_Wage"])

sample_mean = np.mean(sample_data_hourly_wage)
sample_std = np.std(sample_data_hourly_wage, ddof=1)  # Use ddof=1 for sample standard deviation

confidence_level = 0.95

degrees_of_freedom = len(sample_data_hourly_wage) - 1
critical_value = scipy.stats.t.ppf((1 + confidence_level) / 2, degrees_of_freedom)

margin_of_error = critical_value * (sample_std / np.sqrt(len(sample_data_hourly_wage)))

confidence_interval = [sample_mean - margin_of_error, sample_mean + margin_of_error]

print("Sample mean:", (sample_mean))
print("Confidence interval:", confidence_interval)

Sample mean: 50.130719334190296
Confidence interval: [49.798255413084874, 50.46318325529572]

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [70]:
# Your code here:

In [71]:
sample_data_hourly_wage_police = np.array(police_salaries["Hourly_Wage"])

sample_mean = np.mean(sample_data_hourly_wage_police)
sample_std = np.std(sample_data_hourly_wage_police, ddof=1)  # Use ddof=1 for sample standard deviation

confidence_level = 0.95

degrees_of_freedom = len(sample_data_hourly_wage_police) - 1
critical_value = scipy.stats.t.ppf((1 + confidence_level) / 2, degrees_of_freedom)

margin_of_error = critical_value * (sample_std / np.sqrt(len(sample_data_hourly_wage_police)))

confidence_interval = [sample_mean - margin_of_error, sample_mean + margin_of_error]

print("Sample mean:", (sample_mean))
print("Confidence interval:", confidence_interval)

Sample mean: 74.17452106259863
Confidence interval: [72.95787917364453, 75.39116295155273]

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [72]:
# Your code here: (Create the function)
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-0.309065

In [73]:
def create_groups_col(dataframe: pd.DataFrame, new_column: str, ref_column: str, conditions: dict) -> pd.DataFrame:
    dataframe[new_column] = np.nan

    for value_to_check, value_to_change in conditions.items():
        row = dataframe[new_column].isna() & dataframe[ref_column].str.contains(value_to_check, na=False, regex=True)
        dataframe.loc[row, new_column] = value_to_change

    dataframe[new_column].fillna("Other", inplace=True)

    return dataframe

In [74]:
# Your code here: (Apply the function)

In [84]:
conditions = {
    'Police': 'Policemen',
    'Fire': 'Firemen',
    'Med|Nurse': 'Medical',
    'Attorney': 'Lawyer'
}

salaries_group = create_groups_col(salaries, "employee_group", "JobTitle", conditions)

salaries_group["employee_group"].value_counts()

Other        30371
Medical       3917
Policemen     1901
Firemen       1511
Lawyer         419
Name: employee_group, dtype: int64

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [86]:
salaries_group.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

In [103]:
# employees_by_status = salaries_group.groupby(["employee_group", "Status"]).agg({"Id":"count"})

employees_by_status_crosstab = pd.crosstab(salaries_group["employee_group"], salaries_group["Status"])
employees_by_status_crosstab

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [107]:
total_sum = employees_by_status_crosstab.sum().sum()
total_sum

38119

In [110]:
firemen_ft = (employees_by_status_crosstab["FT"].sum() * employees_by_status_crosstab.loc['Firemen'].sum())/total_sum
firemen_ft

885.2979878800598

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [111]:
firemen_pt = (employees_by_status_crosstab["PT"].sum() * employees_by_status_crosstab.loc['Firemen'].sum())/total_sum
firemen_pt

625.7020121199402

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [113]:
lawyers_ft = (employees_by_status_crosstab["FT"].sum() * employees_by_status_crosstab.loc['Lawyer'].sum())/total_sum
lawyers_ft

245.4929562685275

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [114]:
lawyers_pt = (employees_by_status_crosstab["PT"].sum() * employees_by_status_crosstab.loc['Lawyer'].sum())/total_sum
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [115]:
medical_ft = (employees_by_status_crosstab["FT"].sum() * employees_by_status_crosstab.loc['Medical'].sum())/total_sum
medical_ft

2294.978304782392

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [120]:
medical_pt = (employees_by_status_crosstab["PT"].sum() * employees_by_status_crosstab.loc['Medical'].sum())/total_sum
medical_pt

1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [116]:
other_ft = (employees_by_status_crosstab["FT"].sum() * employees_by_status_crosstab.loc['Other'].sum())/total_sum
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [117]:
other_pt = (employees_by_status_crosstab["PT"].sum() * employees_by_status_crosstab.loc['Other'].sum())/total_sum
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policemen" and "FT". Store the solution in a variable named "policemen_ft"

In [118]:
policemen_ft = (employees_by_status_crosstab["FT"].sum() * employees_by_status_crosstab.loc['Policemen'].sum())/total_sum
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policemen" and "PT". Store the solution in a variable named "policemen_pt"

In [119]:
policemen_pt = (employees_by_status_crosstab["PT"].sum() * employees_by_status_crosstab.loc['Policemen'].sum())/total_sum
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [121]:
FT_frequencies = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
PT_frequencies = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

In [123]:
frequencies_dict = {
    "FT": FT_frequencies,
    "PT": PT_frequencies
}

In [135]:
frequencies = pd.DataFrame(frequencies_dict)
frequencies.index = employees_by_status_crosstab.index
frequencies

                          FT            PT
employee_group
Firemen           885.297988    625.702012
Lawyer            245.492956    173.507044
Medical          2294.978305   1622.021695
Other           17794.430966  12576.569034
Policemen        1113.799785    787.200215

In [136]:
employees_by_status_crosstab

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [144]:
import scipy.stats as st
statisctic, p_value, dof, expected_frequencies_chi2 = st.chi2_contingency(employees_by_status_crosstab)

p_value

0.0

In [142]:
# p_value < 0.05 -> reject H0
# There seems to be evidence that there are relationship differences between the employment groups

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [147]:
expected_frequencies_chi2_df = pd.DataFrame(expected_frequencies_chi2)
expected_frequencies_chi2_df

              0             1
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

In [148]:
frequencies

                          FT            PT
employee_group
Firemen           885.297988    625.702012
Lawyer            245.492956    173.507044
Medical          2294.978305   1622.021695
Other           17794.430966  12576.569034
Policemen        1113.799785    787.200215

In [ ]:
#The calculated expected frequencies agree with the ones obtained with the st.chi2_contingency() function